<ul class="nav nav-tabs">
	<li class="active"><a data-toggle="tab" href="#table1">Table 1</a></li>
	<li><a data-toggle="tab" href="#table2">Table 2</a></li>
</ul>
<div class="tab-content">
	<div id="table1" class="tab-pane fade in active">
		<h3>table 1</h3>
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<table class="table table-bordered table-condensed table-striped">
					<thead>
						<tr>
							<th>X</th>
							<th>Y</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="point in points.table1 track by $index">
							<td>{{point.x}}</td>
							<td>{{point.y}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-lg-6 col-md-6">
				<div graph render-points="points.table1" type="points"></div>
			</div>
		</div>
	</div>
	<div id="table2" class="tab-pane fade">
		<h3>table 2</h3>
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<table class="table table-bordered table-condensed table-striped">
					<thead>
						<tr>
							<th>X</th>
							<th>Y</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="point in points.table2 track by $index">
							<td>{{point.x}}</td>
							<td>{{point.y}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-lg-6 col-md-6">
				<div graph render-points="points.table2" type="chart"></div>
			</div>
		</div>
	</div>
</div>