<div class="col-lg-6 col md-5">
	<form role="form">
		<div class="form-group">
			<label for="val">Item Value:</label>
			<input type="val" class="form-control" id="val" ng-model="record.value">
		</div>
		<button type="submit" class="btn btn-primary" ng-click="saveRecord();">Save</button>
		<a ui-sref="list" class="btn btn-warning">Go Back</a>
	</form>
</div>