<table class="table table-bordered table-condensed table-striped" ng-show="records.length">
  <thead>
    <tr>
      <th>Item Name</th>
      <th></th>
      <th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="(key, value) in records track by $index">
      <td>{{value}}</td>
      <td class="text-center"><a href="#" ng-click="deleteRecord(key, $index)">remove</a></td>
      <td class="text-center"><a ui-sref="edit({id: key})">edit</a></td>
    </tr>
  </tbody>
</table>
<h3 ng-show="!records.length">No records at localstorage. Add some</h3>
<a ui-sref="add" class="btn btn-success">ADD NEW RECORD </a>